* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.about {
    width: 100%;
    height: 100vh;
    background-color: #161922;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .content img {
    height: auto;
    width: 600px;
    max-width: 100%;
}

.text {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.content {
    width: 2180px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text h1 {
    color: #ffcc74;
    font-size: 85px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.text h5 {
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.text p {
    color: #c0c4d6;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}

button {
    background-color: #ffcc74;
    color: black;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 17px;
    font-weight: bold;
}