/* Font Family from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Open+Sans:wght@800&family=Playfair+Display:wght@500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,700&family=Quicksand:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
  
body {
    font-family: Arial;
    padding: 20px;
    /*background: #f1f1f1; */
    background: #454545;
}
  
/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    /* background: white; */
    background: #454545;
}
  
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}
  
/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}
  
/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
  
/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    background: #454545;
}

  
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
  