<!--Load Static files-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS Styles-->
    <link rel="stylesheet" href="{% static "css/about.css" %}">

    <!--Font Awesone link-->
    <script src="https://kit.fontawesome.com/9a6f0fd7f8.js" crossorigin="anonymous"></script>

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Open+Sans:wght@800&family=Poppins:ital,wght@0,400;1,800&display=swap" rel="stylesheet">

    <title>Live CodeEditor</title>
</head>

<body>
    <section class="about">
        <div class="content">
            <img src="{% static "images/background.jpg" %}">
            <div class="text">
                <h1>About This Project</h1>
                <h5>Developer & Designer</h5>
                <p>
                    This project was created with the only purpose to put in practice the web  
                    development skills like css, html and javaScript. Also, to give a help for the 
                    programmers that need a simple test of html basic scripts.
                </p>
                <button class="button"><a href="{% url "index" %}">HomePage</a></button>
            </div>
        </div>
    </section>

</body>
</html>