<!--Load Static files-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS Styles-->
    <link rel="stylesheet" href="{% static "css/about.css" %}">

    <!--Font Awesone link-->
    <script src="https://kit.fontawesome.com/9a6f0fd7f8.js" crossorigin="anonymous"></script>

    <title>Live CodeEditor</title>
</head>

<body>
    <section class="about">
        <div class="content">
            <img src="{% static "images/about01.png" %}">
            <div class="text">
                <h2>About this project</h2>
                <h5>Open Source Project</h5>
                <p>
                    Welcome to the "Live CodeEditor" project! This initiative was conceived with the primary 
                    objective of applying and honing web development skills, specifically in the 
                    domains of CSS, HTML, JavaScript and python as a backend. Our aim is to provide a simple platform for 
                    programmers and developers to test and experiment with fundamental HTML scripts.
                </p>
                <button class="button"><a href="{% url "index" %}">HomePage</a></button>
            </div>
        </div>
    </section>

</body>
</html>


