{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta Information -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Title of the Page -->
    <title>Image Credits</title>

    <!-- Author: Fernando Arroliga -->
    <!-- Creation Date: March 22, 2023 -->

    <!--Font Awesone Link-->
    <script src="https://kit.fontawesome.com/9a6f0fd7f8.js" crossorigin="anonymous"></script>

    <!--Css Styles-->
    <link rel="stylesheet" href="{% static "css/credits.css" %}">

</head>
<body>

    <!-- Main Container -->
    <div class="container">

        <!-- Main Card -->
        <div class="card">

            <!-- Front Elements -->
            <div class="front">
                <h1>Image Credits</h1>
            </div>

            <!-- Back Elements -->
            <div class="back">
                <h1>Link to the Images</h1>
                <a target="_blank" href="https://www.freepik.com/free-vector/flat-design-content-management-system-illustrated_12065040.htm#query=open%20source%20cartoon&position=37&from_view=search&track=ais">Image 1</a>
                <a target="_blank" href="https://www.freepik.com/free-vector/web-development-programmer-engineering-coding-website-augmented-reality-interface-screens-developer-project-engineer-programming-software-application-design-cartoon-illustration_10798281.htm">Image 2</a>
            </div>
            
        </div>

    </div>

</body>
</html>

