{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS Style-->
    <link rel="stylesheet" href="{% static "css/docs.css" %}">
    <title>LiveCode</title>
</head>
<body>
    <div class="section">

        <!--Card one-->
        <div class="card">
            <div class="image-section img-one">
                <img src="{% static "images/html_logo.png" %}" alt="html_logo" class="html-logo">
            </div>
            <div class="content">
                <h2>Html Tutorial</h2>
                <p>
                    A short, basic tutorial to learn the basics and syntax of HTML.
                </p>
                <a href="{% url "html_docs" %}" class="button">Read More</a>
            </div>
        </div>

        <!--Card two-->
        <div class="card">
            <div class="image-section img-two">
                <img src="{% static "images/css_logo.png" %}" alt="css_logo" class="css-logo">
            </div>
            <div class="content">
                <h2>Css Tutorial</h2>
                <p>
                    A short, basic tutorial to learn the basics and syntax of CSS.
                </p>
                <a href="{% url "css_docs" %}" class="button">Read More</a>
            </div>
        </div>

        <!--Card three-->
        <div class="card">
            <div class="image-section img-three">
                <img src="{% static "images/JavaScript_logo.png" %}" alt="javascript-logo" class="js-logo">
            </div>
            <div class="content">
                <h2>JavaScript Tutorial</h2>
                <p>
                    A short, basic tutorial to learn the basics and syntax of JavaScript.
                </p>
                <a href="{% url "js_docs" %}" class="button">Read More</a>
            </div>
        </div>
    </div>
</body>
</html>