<!--Load Static files-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live CodeEditor</title>
    <!--Font Awesone link-->
    <script src="https://kit.fontawesome.com/9a6f0fd7f8.js" crossorigin="anonymous"></script>

    <!--CSS scripts-->
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>

    <!--Header Section Starts Here-->
    <header class="header">

        <a href="{% url "index" %}" class="logo">
            {% load static %}
            <img src="{% static "images/img.jpg" %}" alt="">
        </a>

        <nav>
            <a href="{% url "index" %}" class="nav-item">Home</a>
            <a href="{% url "coding" %}" class="nav-item">Coding</a>
            <a href="{% url "about" %}" class="nav-item">About</a>
        </nav>

        <div id="menu" class="fas fa-bars"></div>

    </header>
    <!--Header Section Ends Here-->
</body>
</html>