<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live CodeEditor</title>
    <!--Font Awesone link-->
    <script src="https://kit.fontawesome.com/9a6f0fd7f8.js" crossorigin="anonymous"></script>
    
    <!--CSS Styles-->
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <p class="logo">LiveCode</p>
            <nav>
                <ul id="menuList">
                    <li><a href="{% url "index" %}">Home</a></li>
                    <li><a href="{% url "coding" %}">Code</a></li>
                    <li><a href="{% url "about" %}">About</a></li>
                    <li><a href="{% url "docs" %}">Docs</a></li>
                </ul>
            </nav>
            <img src="{% static "images/Playstation_Img/menu.png" %}" class="menu-icon" onclick="togglemenu()">
        </div>
        <div class="row">
            <div class="col-1">
                <h2>Live Code<br>Editor</h2>
                <h3>Online editor for programming in</h3>
                <p>CSS/HTML and</p>
                <h4>JavaScript</h4>
                <button id="codeButton" type="button">Code Now<img src="{% static "images/Playstation_Img/arrow.png" %}"></button>
            </div>
            <div class="col-2">
                <img src="{% static "images/Playstation_Img/controller.png" %}" class="controller">
                <div class="color-box"></div>
                <div class="add-btn">
                    <img id="docsButton" src="{% static "images/Playstation_Img/add.png" %}">
                    <p><small>Css,Html Guide</small></p> 
                </div>
            </div>
        </div>
        <div class="social-links">
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </div>
    <script src="{% static "js/homepage.js" %}"></script>
</body>
</html>