<!--Load Static files-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live CodeEditor</title>

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Open+Sans:wght@800&family=Poppins:ital,wght@0,400;1,800&display=swap" rel="stylesheet">

    <!--Font Awesone link-->
    <script src="https://kit.fontawesome.com/9a6f0fd7f8.js" crossorigin="anonymous"></script>

    <!--CSS scripts-->
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
    <header>
        <nav class="container">
            <p class="logo">LiveCode</p>
            <ul class="primary-nav">
                <li class="nav-item active">
                    <a href="{% url "index" %}">Home</a>
                <li class="nav-item active">
                    <a href="{% url "coding" %}">WriteCode</a>
                <li class="nav-item active">
                    <a href="#">Contact Us</a>
                <li class="nav-item active">
                    <a href="{% url "about" %}">About</a>
            </ul>
            <i id="mobile-nav" class="fa-solid fa-bars"></i>
        </nav>
    </header>
    <main>
        <div class="main-image">
            <img src="{% static "images/background.jpg" %}" alt="background"/>
        </div>
        <div class="main-content">
            <h1>Live Code Editor</h1>
            <p>
                Welcome to the html, css and javascript online editor
            </p>
            <div class="main-buttons">
                <a href="#" class="main-button primary-button">Get Started</a>
            </div>
            <div class="main-button secondary-button">
                <i class="fa-brands fa-github">Follow the project</i>
            </div>
        </div>
    </main>
    <footer class="container">
        <ul class="footer-socials">
            <li>
                <a href="https://www.facebook.com">
                <i class="fa-brands fa-facebook"></i>
            </li>
            <li>
                <a href="https://www.instagram.com">
                <i class="fa-brands fa-instagram"></i>
            </li>
            <li>
                <a href="https://www.linkedin.com">
                <i class="fa-brands fa-linkedin"></i>
            </li>            
        </ul>
        <ul class="footer-links">
            <li>
                <a href="#">Terms of Use</a>
            </li>
            <li>
                <a href="#">Privacy Policy</a>
            </li>
            <li>
                <a href="#">Cookie Preference</a>
            </li>
        </ul>
    </footer>
</body>
</html>